
  @media (max-width: 768px) {
    #about_seperate {
      margin-top: 20px;
    }
    #about_seperate h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #about_seperate h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #about_seperate .col-lg-7 img {
        text-align: center;
        width: 100%;
        height: min-content;
    }
  }
  
  @media (max-width: 575px) {
    #about_seperate .col-lg-7 img {
      width: 100%;
      height: min-content;
      
    }
  }
  @media (max-width: 1024px){
      #about_seperate .col-lg-7{
        padding: 20px 0;
      }
  }

  .about_seperate .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about_seperate .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about_seperate .content ul li {
    padding-left: 28px;
    position: relative;
    color: rgb(0, 0, 0);
  }
  
  .about_seperate .content ul li + li {
    margin-top: 10px;
  }
 .about_seperate .content ul i::before{
  content: "❑";
  color: rgb(0, 0, 0);
  display: inline-block;
   width: 1em;
   left: 0;
  /*margin-left: -1em;*/
  position: absolute;
  }
  /* .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #3498db;
    line-height: 1;
  } */
  
 .about_seperate .content p:last-child {
    margin-bottom: 0;
  }
  