.section-title{
  padding:30px 0 0 0 !important;}

  @media (max-width: 768px ) and (min-width:574px) {
    #about_seperate {
      margin-top: 20px;
    }
    #about_seperate h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #about_seperate h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #about_seperate .col-lg-6  img {
      width: 65%;
      text-align: center;
      /* height: min-content; */
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
/*added for 1st img*/
    #about_seperate .col-lg-12  img {
      text-align: center;
      width: 100%;
      /*height: max-content;*/
      
  }

  #about_seperate .col-lg-6{
    padding: 20px 0;
  }

  }


  
  @media (max-width: 575px) {
    #about_seperate .col-lg-6  img {
      width: 65%;
      text-align: center;
      /* height: min-content; */
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
    /*added for 1st img*/
    #about_seperate .col-lg-12  img {
      width: 100%;
      text-align: center;
      /* height: min-content; */
      
    }
    #about_seperate .col-lg-6{
      padding: 20px 0;
    }
  }
  @media (max-width: 1024px) and (min-width:767px){
      #about_seperate .col-lg-6{
        padding: 20px 0;
      }

      #about_seperate .col-lg-6  img {
        width: 65%;
        text-align: center;
        /* height: min-content; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
  
      /*added for 1st img*/
      #about_seperate .col-lg-12  img {
        width: 100%;
        text-align: center;
        /*padding:0 30px;*/
        /*height: min-content; */
      
        
      }
  }



  /*added another media query*/
  @media (min-width:1025px)
  {
    #about_seperate .col-lg-6{
      padding: 20px 0;
    }

    #about_seperate .col-lg-6  img {
      width: 100%;
      text-align: center;
      /* height: min-content; */
      
    }

    /*added for 1st img*/
    #about_seperate .content .col-lg-12  img {
      /*width: 100%;*/
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      /*padding:0 30px;*/
      height: 520px;
      
    }

    
  }


  .about_seperate .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  /*commented because no longer list*/
  /*.about_seperate .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about_seperate .content ul li {
    padding-left: 28px;
    position: relative;
    color: rgb(0, 0, 0);
  }
  
  .about_seperate .content ul li + li {
    margin-top: 10px;
  }
 .about_seperate .content ul i::before{
  content: "❑";
  color: rgb(0, 0, 0);
  display: inline-block;
   width: 1em;
   left: 0;*/
  /*margin-left: -1em;*/
  /*position: absolute;
  }*/
  /* .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #3498db;
    line-height: 1;
  } */
  
 .about_seperate .content p:last-child {
    margin-bottom: 0;
  }

  /*my css*/
  .about_seperate .content p{
    padding:0 20px ;
  }

  .main-title{
    font-weight: 600;
    font-display: block;
    text-transform: uppercase;
    padding: 30px 0;
  }

  .ico-left, .ico-right{
    padding:0 5px;
  }

  .title_cert, .in-news{
    text-transform: uppercase; 
  }
  .title_cert{
    padding-bottom: 50px;
    margin-top: 20px;
    display: block;
  }
  .in-news{
    margin-top: 20px;
    padding-bottom: 10px;
  }
  a{
    color: #3498db;
    
  }
 a:hover ,.ico-left, .ico-right{
   color: #98d6ff;
 }
.cursive-styled{
  font-family: 'Parisienne';
  font-style: cursive;
  font-size: 22px;
  font-weight: 600;
  /* text-transform: uppercase; */
}
.arrow-right{
  font-size: 22px;
  font-weight:800;
  padding: 0 10px;
}
.all_cert{
  padding-bottom: 10px;
  
}
  

.cert_link {
  position: relative;
}
.psuedo h2,h4{
  position: relative;
  margin: 0 !important;
  display: inline-block;
}
.psuedo h2::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2.2em;
  border-radius: 2px;
  right: calc(50% - 50px) ;
  background:#3498db;
  width: 100px;
  height: 2px;
 

}
.psuedo h4::after{
content: '';
display: inline-block;
position: absolute;
top: 1.1em;
right: calc(50% - 35px) ;
background:#3498db;
border-radius: 2px;
width: 70px;
height: 2px;
}

@media(max-width:991px) 
{
  .in-news{
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  .title_cert{
    padding-bottom: 10px;
    display: block;
  }
  .zillion{
    margin-bottom: 20px !important;
  }

}
@media (max-width: 768px) and (min-width: 574px){
  #about_seperate h2 {
    font-size: 32px;
    line-height: 32px;}
}