
  @media (max-width: 768px) {
    #about {
      margin-top: 20px;
    }
    #about h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #about h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #about .col-lg-7 img {
        text-align: center;
        width: 100%;
        height: min-content;
    }
  }
  
  @media (max-width: 575px) {
    #about .col-lg-7 img {
      width: 100%;
      height: min-content;
      
    }
  }
  @media (max-width: 1024px){
      #about .col-lg-7{
        padding: 20px 0;
      }
  }