body{
  background: none;
}
.space-holder{
  height: 85px;
}
section{
  padding-top: 20px;
}
.section-title{
  padding-bottom: 0;
}


.image-container{
  min-height:200px;
  background-image: url('../img/event.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*.events .content h2 {
    font-weight: 600;
    font-size: 26px;
  }*/
  
  .events .section-title .catchy-line-in-events{
    font-family: 'Parisienne', cursive;
    font-size:25px ;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .events .content ul {
    list-style: none;
    padding: 0;
  }
  
  .events .content ul li {
    padding-left: 28px;
    position: relative;
    display: inline-block;
  }
.size-vid{
  min-width: 360px;
}
  .events .content ul li a{
      color: #3498db;
  }
  
  .events .content ul li + li {
    margin-top: 10px;
  }
  .events .content ul i::before{
  content: "❑";
  color: rgb(8, 8, 8);
  display: inline-block;
   width: 1em;
   left: 0;
  /*margin-left: -1em;*/
  position: absolute;
  }
  img{
    padding-bottom: 50px;
  }

  .catchy-line-in-events{
    font-family: 'Parisienne', cursive;
    font-size:30px ;
    font-weight: bold;
  }
  @media(min-width:240px)
  {
    .size-vid{
      width:144px;
    }
   
  }
  @media(min-width:400px)
  {
    .size-vid{
      width:320px;
    }
   
  }
  @media(min-width:575px)
  {
    .size-vid{
      width:360px;
    }
   
  }
  @media(min-width:768px)
  {
    .size-vid{
      width:480px;
    }
   
  }
  @media(min-width:991px)
  {
    .size-vid{
      width:720px;
    }
   
  }
  @media(min-width:1200px)
  {
    .size-vid{
      width:800px;
    }
   
  }
  @media (max-width:575px) and (min-width:50px)
{
  .section-title h1{
    font-size: 32px !important;
  }
}