
/*.events .content h2 {
    font-weight: 600;
    font-size: 26px;
  }*/
  
  .events .content ul {
    list-style: none;
    padding: 0;
  }
  
  .events .content ul li {
    padding-left: 28px;
    position: relative;
  }
  
  .events .content ul li + li {
    margin-top: 10px;
  }
  .events .content ul i::before{
  content: "❑";
  color: rgb(8, 8, 8);
  display: inline-block;
   width: 1em;
   left: 0;
  /*margin-left: -1em;*/
  position: absolute;
  }